APP_NAME=market-insights
IMAGE_TAG=latest

AZ_SUBSCRIPTION_ID=00000000-0000-0000-0000-000000000000
AZ_RESOURCE_GROUP=rg-market-insights
AZ_LOCATION=westeurope
AZ_ACR_NAME=marketinsightsacr
AZ_CONTAINERAPPS_ENV=market-insights-env
